.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 25px;
  width: 100%;
  border: 1px solid gray;
}
.container_figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.container_news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: yellow;
  padding: 25px;
  width: 50%;
  border-radius: 50%;
  font-size: 20px;
}
.photo {
  display: flex;
  width: 300px;
}

.container_photos {
  display: flex;

  width: 100%;
}

