.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 300px;
  background: black;
}

.container_photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: yellow;
}
