.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #9f9cff;
}

.container_photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #bcff03;
}

.photo {
  display: flex;
  flex: 1;
}

@media screen and (max-width: 1452) {
  .home {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 300px;
    background: #9f9cff;
  }

  .container_photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #bcff03;
  }

  .photo {
    width: 100%;
  }
}
