.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 80vh;
  justify-content: center;
  background-color: #9f9cff;
  color: white;
}

.box ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;

  gap: 0.5em;
}

.box li:first-child {
  background-color: #ff0008;
}

.box li:nth-child(2) {
  background-color: #ff0008;
}
.box li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 20vh;
  background-color: #bcff03;
  color: black;
  border-radius: 50%;
  padding: auto;
  font-size: 1.5em;
}
.container {
  padding: 100px;
}

@media screen and (min-width: 1452) {
  .box {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80vh;
    justify-content: center;
    background-color: #9f9cff;
    color: white;
  }

  .box ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    gap: 0.5em;
  }

  .box li:first-child {
    background-color: #ff0008;
  }

  .box li:nth-child(2) {
    background-color: #ff0008;
  }
  .box li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 20vh;
    background-color: #bcff03;
    color: black;
    border-radius: 50%;
    padding: auto;
    font-size: 1.5em;
  }
  .container {
    padding: 100px;
  }
}
