.box {
  display: flex;
  height: 80vh;
  background-color: black;
  font-size: 1.5em;
}

.container {
  display: flex;
  background-color: #212529;
  color: silver;
  margin: auto;
  padding: 50px;
  border-radius: 15px;
}

.week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-size: 1em;
  height: 10vh;
}
.week_name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1px;
}
.week_name span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  border: 3px solid black;
  border-left: 1px solid yelllow;
  border-right: 1px solid yelllow;
  border-radius: 200px;
  flex: 1;
  color: yellow;
}

.button_container {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  font-size: 0.8em;
  background-color: yellow;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.button :hover {
  background-color: black;
  border-color: yellow;
}

.week_number {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  padding: 1px;
}

.week_number :hover {
  color: black;
  background-color: yellow;
  transition: all 2s;
}

.week_number span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  border: 3px solid black;
  border-left: 1px solid yelllow;
  border-right: 1px solid yelllow;
  border-radius: 200px;
  flex: 1;
  color: black;
}

.button_container_reserve {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button_reserve {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  background-color: green;
  border: none;
  border-radius: 15px;
  padding: 20px;
  flex: 1;
  cursor: pointer;
}

.button_reserve :hover {
  background-color: black;
  border-color: yellow;
}

.clicked {
  background-color: red;
  color: green;
}

.week_number_clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  padding: 1px;
  background-color: red;
  color: green;
}
