.prices {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  width: 1000px;
}

.button {
  background-color: yellow;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: orange;
}
