@media (max-width: 1452px) {
  .container {
    display: flex;
    justify-content: flex-start;
  }

  .logo {
    display: flex;
    flex: 1;
    padding: 25px;
  }
}

/*tela grande*/
.container {
  display: flex;
  justify-content: flex-start;
}

.logo {
  display: flex;
  padding: 25px;
}
