@media (max-width: 1452px) {
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 8pt;
  }
}

/* tela grande*/
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
  height: 10vh;
}
